@import "colors";

.footer {
    padding: 2em;
    background: $white;
    border-top: 0.1em solid $shadow;
    h6 {
        text-align: center;
        color: $gray;
    }
    .social-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1em;
        margin-top: 1em;
        button {
            display: block;
            background: none;
            cursor: pointer;
            svg {
                display: block;
                height: 2em;
                fill: $black;
                transition: transform 0.2s ease;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}
