@import "colors";

.header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: $headerBg;
    backdrop-filter: saturate(180%) blur(5px);
    border-bottom: 0.1rem solid $shadow;
    .header-container {
        width: 90%;
        max-width: 64rem;
        margin: 0 auto;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        .logotype-container {
            height: 2rem;
            img {
                display: block;
                width: auto;
                height: 100%;
            }
        }
    }
    .social-buttons {
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 1rem;
        a {
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3rem;
                height: 3rem;
                border-radius: 1rem;
                background: $white;
                cursor: pointer;
                transition: background 0.2s ease;
                border-bottom: 0.1rem solid $shadow;
                &:hover {
                    background: $background;
                }
                svg {
                    height: 2rem;
                    fill: $black;
                }
                &.linkedin svg {
                    fill: $blue;
                }
            }
        }
    }
}
