@import "utils";

.header {
    width: 100%;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background: $headerBg;
    backdrop-filter: saturate(180%) blur(5px);
    border-bottom: 0.1rem solid $shadow;
    .header-container {
        width: 100%;
        max-width: $maxWidth;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        .logotype-container {
            height: 2rem;
            img {
                display: block;
                width: auto;
                height: 100%;
            }
        }
    }
}
