@import "colors";

.section {
    width: 100%;
    .section-container {
        width: 90%;
        max-width: 64rem;
        margin: auto;
        padding: 3rem 1rem;
        .title {
            margin-bottom: 1rem;
            font-weight: bold;
            span {
                color: $green;
            }
        }
        .nothing {
            color: $gray;
        }
    }
}

.projects-works-container .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: start;
    article {
        background: $white;
        padding: 1rem;
        border-radius: 1rem;
        width: 100%;
        border: 0.1rem solid $shadow;
        .name {
            font-weight: bold;
        }
        .description {
            margin-top: 0.5rem;
            color: $gray;
        }
        ul.tags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.5rem;
            padding-top: 1rem;
            li {
                img.skill-img {
                    display: block;
                    height: 1.5rem;
                }
            }
        }
        &:hover .link-button {
            opacity: 1;
        }
        .link-button {
            position: relative;
            opacity: 0;
            transition: opacity 0.2s ease;
            a {
                right: 0;
                top: 0;
                transform: translate(25%, -25%);
                position: absolute;
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: transparent;
                    padding: 1rem;
                    border-radius: 1rem;
                    transition: background 0.2s ease;
                    &:hover {
                        background: $background;
                    }
                    cursor: pointer;
                    svg {
                        fill: $green;
                        height: 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 72rem) {
    section.projects-works-container .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 48rem) {
    section.projects-works-container .list {
        grid-template-columns: 100%;
        article .link-button {
            opacity: 1;
        }
    }
}
