@import "colors";

.skills-container {
    background: $white;
    border-top: 0.1rem solid $shadow;
    border-bottom: 0.1rem solid $shadow;
    .skills-groups-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .subtitle {
            font-weight: bold;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            padding-top: 0.5rem;
            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5rem;
                padding: 1rem;
                border-radius: 1rem;
                background: $white;
                transition: background 0.2s ease;
                border-bottom: 0.1rem solid $shadow;
                &:hover {
                    background: $shadow;
                }
                .skill-img {
                    display: block;
                    height: 2rem;
                }
            }
        }
    }
}
