@import "utils";

.skills-container {
    background: $white;
    border-top: 0.1rem solid $shadow;
    border-bottom: 0.1rem solid $shadow;
    .bio {
        padding-bottom: 1rem;
    }
    .skills-groups-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .subtitle {
            font-weight: bold;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            padding-top: 0.5rem;
            li {
                @include hoverElement;
            }
        }
    }
}
